@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 18px;
  color: #000000;
}

label {
  font-size: 18px;
  color: #333333;
}

form {
  max-height: 2300px;
  max-width: 300px;
  padding-left: 5px;
}

.better {
  width: 300px;
  font-size: 16px;
  padding: 5px;
}

.btn-submit {
  padding: 5px 30px;
  background-color: white;
  color: black;
  border: 2px solid #333333;
  border-radius: 12px;
  font-size: 16px;
}
.btn-submit:hover {
  background-color: #333333;
  color: white;
}

#scoreDisplay {
  font-size: 100px;
  margin-left: 35px;
  margin-top: 5px;
  padding-left: 10px;
  color: 071013;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
