@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 18px;
  color: #165e63;
}

label {
  font-size: 18px;
  color: #135155;
}

form {
  max-height: 2800px;
  max-width: 300px;
  padding-left: 5px;
}

.better {
  width: 300px;
  font-size: 16px;
  padding: 5px;
}

.btn-submit {
  width: 150px;
  height: 30px;
  background-color: white;
  color: black;
  border: 2px solid #071013; /* Green */
  border-radius: 12px;
  margin-left: 4px;
  font-size: 20px;
}
.btn-submit:hover {
  background-color: #234572;
  color: white;
}

#scoreDisplay {
  font-size: 100px;
  margin-left: 35px;
  margin-top: 5px;
  padding-left: 10px;
  color: 071013;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
